/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/

.lein-repl-history
/*.log
/resources/public/js/dev
/resources/public/js/min
/resources/public/css/build
.idea/
/*.iml
/.vscode